/* BUZZ PANELS GLOBAL CSS v0.2 */

@import "compass";
@import "compass/css3";
@import "compass/utilities";

$primary_font: 'Open Sans Condensed', sans-serif;
$secondary_font : 'Open Sans', sans-serif;

$background-color: #000000;
$link-color: #e7b838;
$link-color-hover: #777;
$link-color-visited: #e0a913;
$border-color: #e7ebee;

$logo-title-size:1.8rem;
$logo-subtitle-size:1rem;
$par-size: 1.2rem;
$small-size: 0.8rem;
$xsmall-size: 0.7rem;
$nav-size: 1.2rem;


/* --------------------------------------- */
/* El Infante Portfolio Styles */
/* --------------------------------------- */

html,body {
  font-family: $primary_font;
  padding:0px;
  margin:0px;
  width:100%;
  height:100%;
  font-weight:300;
  color:white;
}

body{
  //background: url("../assets/img/bg/bg_3_1920x1080.jpg") no-repeat center center fixed;
  //@include background-size(cover);
}

#main-holder {
  background:red;
  width:100%;
  position:relative;
}

#grid-container {
    position:relative;
    height:100%;
    width:60%;
    margin:0 auto;
    background:green;
    padding-top:60px;
    margin-bottom:50px;
}


footer {
  background: #222222;
  text-align:center;
  padding:20px 0;
  font-size:14px;

  span {
    margin-right:10px;
    cursor:pointer;
  }
}




/* --------------------------------------- */
/* Menu / Nav / Header */
/* --------------------------------------- */

.menu-trigger {
  background:#222;
  color:white;
  text-align:center;
  padding:5px 10px;
  width:50px;
  font-size:28px;
  cursor:pointer;
  position:fixed;
  z-index:9999;
}


.menu {
  
  background-color:#222;
  position: fixed;
  top: 0px;
  left: -300px;
  height: 100%;
  width: 300px; 
  padding-top:50px;
  z-index:9999;
  text-align:center;

  .menu__nav {

    font-size: $nav-size;

    ul {
      margin:10px 0;
      list-style:none;
      padding-left:20px;

      li {
        padding:5px 0;      
      }

      li:first-child{
        margin-bottom:30px;
      }

      a{
        text-decoration:none;
        color:#fff;

        &.visited {
          color: $link-color;
          font-weight: 800;
        }

      }

      a:hover {
        color:$link-color-hover;

        &.visited {
          color: $link-color-visited;
        }
      }

    }

  }
}






/* --------------------------------------- */
/* Slider */
/* --------------------------------------- */

.bg-slider {

  width:100%;
  overflow:hidden;
  background-color:yellow;

  .slide {

      height:100%;
      position:relative;

      .bg-img {
        width:100%;
        height:100%;
        background:blue;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center center;
      }

  }




}





/* --------------------------------------- */
/* CubePortfolio */
/* --------------------------------------- */

.cbp-caption-activeWrap {
  
  padding-top:10px;
  text-align:center;
  color:white;

  p:nth-child(1){
    font-size:20px;
    margin:0;
    line-height:130%;
  } 

  p:nth-child(2){
    font-size:16px;
    margin:0;
    line-height:100%;
  }

}








/* --------------------------------------- */
/* MEDIA QUERIES                           */
/* --------------------------------------- */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {

  #grid-container {
      width:95%;
  }

}

























